/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.btn-addepisode {
  background-color: red !important;
  border: 0px;
}

.listd {
  background-color: #1f1f1f4d;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black !important;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* navbar */
.navlink {
  text-decoration: none;
}

.dropdown-menu {
  background-color: black !important;
}

.ctnm {
  /* background-color: red; */
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tvseries {
  border: 2px solid white;
  border-radius: 3px;
  padding: 3px;
}

.movies {
  border: 2px solid white;
  border-radius: 3px;
  padding: 3px;
  /* width: 65px; */
}

.btn-watch {
  border: 0px;
  color: white;
  background-color: #e50914;
  height: 60px;
  width: 300px;
  font-size: 24px;
  font-weight: 700;
}

.btnlogin {
  border: 0px;
  width: 100px;
  height: 30px;
  color: white !important;
  background-color: #e50914 !important;
  font-weight: 700;
  border-radius: 5px;
}

.btnregist {
  border: 0px;
  width: 100px;
  height: 30px;
  color: red;
  background-color: white;
  font-weight: 700;
  border-radius: 5px;
}

/* card styling */
.containerCard {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}

.containerCard .box {
  position: relative;
  width: 200px;
  height: 300px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin: 8px;
}

.containerCard:hover .box {
  transform: rotateY(25deg);
}

.containerCard .box:hover ~ .box {
  transform: rotateY(-25deg);
}

.containerCard .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.containerCard .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.containerCard .box .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #f00, #000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}

.containerCard .box:hover .imgBx:before {
  opacity: 1;
}

.containerCard .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerCard .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}

.containerCard .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}

.containerCard .box:hover .content h2 {
  transform: translateY(0px);
}

.containerCard .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}

.containerCard .box:hover .content p {
  transform: translateY(0px);
}

/* modal */
.bg-Modal {
  background-color: #1f1f1f;
  display: flex;
  width: auto;
  height: auto;
}

.form input {
  background: rgba(210, 210, 210, 0.25);
  border: 2px solid #bcbcbc;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  color: #ffffff;
}

.btn1 {
  background: red !important;
  border-radius: 5px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 25px !important;
  color: #ffffff !important;
}

.btnRegister {
  border: 0px;
  background: white !important;
  border-radius: 5px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 25px !important;
  color: red !important;
}

.warning {
  color: white;
  text-align: center;
}

.btnHere {
  border: 0px;
  background-color: #1f1f1f;
  color: white;
  font-weight: bold;
}

.notfound {
  margin-top: 20%;
  text-align: center;
  background-color: red;
}

/* profile */
.profile-container {
  height: 110vh;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  background-color: #1f1f1f;
  /* margin: auto; */
  padding: 20px;
  border: 1px solid #1f1f1f;
  border-radius: 10px;
  width: 60%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .profile-card {
    flex-direction: column;
  }
}

.profile-data {
  display: flex;
  padding-left: 30px;
  margin-bottom: 15px;
}

.profile-details {
  padding-left: 10px;
}

.profile-details span {
  display: block;
}

.profile-icon {
  font-size: 35px;
  width: 45px;
}

.profile-desc {
  display: block;
  min-width: 50%;
  max-width: 100%;
  min-height: 50vh;
  /* background-color: red; */
}

.profile-img {
  display: block;
  min-width: 50%;
  max-width: 100%;
  min-height: 50vh;
  /* background-color: blue; */
}

.profile-avatar {
  padding-top: 20px;
  position: relative;
  float: right;
  max-width: 100%;
}

.profile-button {
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 15px;
  font-size: 1.3rem;
  background: #e50914;
  border: 1px solid #e50914;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.profile-button:hover {
  background: #8b040b;
  border: 1px solid #8b040b;
}

/* upgrade */
.payment-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  /* background-color: aqua; */
}

.payment-details {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 40%;
  padding: 0 30%; */
}

.payment-desc {
  text-align: center;
  display: inline-block;
}

.payment-desc p {
  font-size: 20px;
}

.red {
  color: #e50914;
  font-weight: bold;
}

.form-payment {
  padding: 0 25%;
}

.preview-src {
  margin-top: 20px;
  width: 10%;
}

.custom-input {
  width: 100%;
}

.btn-light {
  color: red;
  font-weight: 700;
  border-radius: 8px;
}

.btnsub {
  border: 0px;
  width: 100%;
  height: 30px;
  color: white !important;
  background-color: #e50914 !important;
  font-weight: 700;
  border-radius: 5px;
}

@media (max-width: 758px) {
  .payment-details {
    width: 100%;
    padding: 0 0;
  }
}

/* detail page */
.video-control {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10vh; */
  background-color: rgba(31, 31, 31, 0.3);
}

.detail-bot {
  display: flex;
  /* background-color: red; */
  padding: 20px;
}

.detail-desc {
  display: flex;
  width: 50%;
}

.img-mov {
  margin-left: 150px;
  border: 0px;
  border-radius: 15px;
  width: 30%;
}

.desc-mov {
  width: 80%;
}

.txt-mtd {
  border: 2px solid grey;
  border-radius: 3px;
  padding: 3px;
}

.detail-play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 236px;
  /* background-color: aqua; */
}

.detail-play-ad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 236px;
  /* background-color: aqua; */
}

.img-in-play {
  display: flex;
  width: 50%;
  height: 80%;
}
